@import url("./main.css");
@import url("./projects.css");
@import url("./topnav.css");
@import url("./intro.css");
@import url("./about.css");
@import url("./skills.css");

* {
  scroll-behavior: smooth;
}

/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
  .to-move {
    top: 20%;
  }
}
@media (max-width: 768px) {
  .typewriter,
  .typewriter2 {
    font-size: 1.8rem;
    letter-spacing: 0.08rem;
  }
  .logo-container {
    justify-content: space-between;
    align-items: stretch;
  }
  .name-container {
    margin-top: 30px;
  }
  .main-home {
    flex-direction: column;
    justify-content: space-around;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .to-move {
    min-width: 150%;
    transform: translateX(-50%);
  }
}
